<h1>Hey <%= currentUser.username%>, find your next movie</h1>

<form action="" method="POST">
    <label>
      Genre
      <input name="username" required />
    </label>
    <label>
      Director
      <input name="" type="" required />
    </label>
    <label>
      Related Movies
      <input name="password" type="password" required />
    </label>
    <label>
        Actor
        <input name="username" required />
      </label>
      <label>
        length
        <input name="" type="" required />
      </label>
      <label>
    <button type="submit"><a hre="/Recommended">Find Movie</a></button>
  </form>